# Укажите публичный IP или доменное имя вашего сервера
WG_HOST=your_server_ip_or_domain

# Укажите bcrypt-хэш пароля для доступа к интерфейсу WG-Easy
#https://bcrypt-generator.com/

PASSWORD_HASH=$2b$10$examplehashvaluehere
