services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    environment:
      - WG_HOST=${WG_HOST}
      - PASSWORD_HASH=${PASSWORD_HASH}
      - WG_DEFAULT_ADDRESS=${WG_DEFAULT_ADDRESS}
      - WG_ALLOWED_IP=${WG_ALLOWED_IP}
      - UI_TRAFFIC_STATS=true
      - UI_CHART_TYPE=1
    ports:
      - '51820:51820/udp'
      - '127.0.0.1:51821:51821/tcp'
    volumes:
      - wg-easy-data:/etc/wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

volumes:
  wg-easy-data:
